{% extends 'base.html'%}

{% block content%}
<h1>Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore adipisci doloremque fuga voluptatum neque praesentium sint aliquam sequi ipsum, incidunt dignissimos tenetur ex facilis, autem expedita facere recusandae dolores porro architecto! Architecto, quibusdam officia soluta voluptatem mollitia doloribus. Facilis corrupti maxime quas quod, in dolorum voluptatem eos itaque rerum, voluptas dolor enim eaque non et perferendis! Corporis nihil perspiciatis ullam consequuntur earum quidem fugiat quis optio deleniti id. Quibusdam recusandae iusto maxime, doloremque excepturi veritatis expedita voluptatem atque sunt odit vitae aspernatur impedit eligendi ducimus velit dicta assumenda consequatur itaque accusantium, modi autem ea. Culpa, architecto. Odit error labore inventore.</p>
{% endblock%}